body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 200px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.img-profile {
  height: 300px;
  width: 300px;
  margin-top: 100px;
}
.skill-row{
  text-align: left;
  width: 30%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
/* Auto margin to keep in center*/
.Coding{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.table-tennis{
  width: 25%;
  float: right;
  margin-right: 30px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  color:#808080;
}
p{
  color: #40514E;
}

.profile{
  margin-bottom: 100px;
}
.skills{
  margin-top: 100px;
}
.contact-me{
  margin-top: 100px;
}
.p-contact{
  line-height: 2;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  padding-top: 50px;
  height: 150px;
  position: relative;
  top: 20px;
  margin-top: 100px;
  margin-bottom: 0;
  background-color: #66BFBF;
}
.footer-link-1{
  position: absolute;
  left: 550px;
}
.footer-link-3{
  position: absolute;
  right: 550px;
}
.copyright{
  color: #EAF6F6;
  margin-top: 65px;
}
